.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to APP_CONFIG['site_name'], root_path, class: 'brand'
      -if user_signed_in?
        %ul.nav
          %li=link_to 'All members', users_path
          %li=link_to "Marketplace (#{@ads_count})", ads_path
          %li=link_to 'Send money', new_transaction_path
        %ul.nav.pull-right
          / %li
          /   %form.navbar-search.pull-right
          /     %input.search-query{placeholder: 'Search...'}
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => 'dropdown'}
              =current_user.username
              (Balance: #{current_user.account.balance_with_currency})
              %b.caret
            %ul.dropdown-menu
              %li=link_to t('Your ads'), user_ads_path(current_user)
              %li=link_to t('Your transactions'), transactions_path
              %li=link_to t('Edit your profile'), edit_user_registration_path
              %li.divider
              %li=link_to t('Logout'), destroy_user_session_path, :method => :delete
      -else
        %ul.nav.pull-right
          %li
            =link_to t('Sign in'), new_user_session_path
          %li
            =link_to t('Sign up'), new_user_registration_path