.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Green Money', root_path, class: 'brand'
      %ul.nav.pull-right
        %li
          =link_to t('Sign in'), new_user_session_path
        %li
          =link_to t('Sign up'), new_user_registration_path